@charset "UTF-8"; 

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #99510B;
    text-align: center;
}

header > h1{
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    line-height: 2em;
}



footer{
    background-color: #99510B;
    padding: 5px;
}