@charset "UTF-8";

body{background-color: #bcf8cb;
font-family: Arial, Helvetica, sans-serif;
}

h1{color: #04E000;
}

h1#principal { background-color: #0c8d17;
color: rgb(238, 243, 241);
text-align: center;
}
h2{
    color: #0D4D11;
}

.basico {
    color: #027A00;
}
.intermediario{
color: #727a00;
}
.avançado{
    color: #7a0800;
}